In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
dataset=pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'charges'], dtype='object')

In [5]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [10]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features': ['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose=3,n_jobs=-1)
grid.fit(independent, dependent)

C:\Users\SONY\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   52.2s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   59.3s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [11]:
re=grid.cv_results_
print("The R_score value for best parameter{}:".format(grid.best_params_))

The R_score value for best parameter{'criterion': 'mse', 'max_features': 'sqrt', 'splitter': 'best'}:

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015568,3.702805e-04,0.010538,3.687063e-03,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.702769,0.652092,0.700538,0.685133,0.023381,8
1,0.013203,1.897243e-03,0.004331,3.089311e-03,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.659059,0.731274,0.702553,0.697628,0.029687,3
2,0.019206,5.139462e-03,0.008024,2.866098e-03,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.676799,0.698794,0.733295,0.702962,0.023252,1
3,0.015626,1.083865e-06,0.000000,0.000000e+00,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.671877,0.538822,0.718705,0.643135,0.076197,15
4,0.005209,7.366033e-03,0.010418,7.366370e-03,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.686949,0.711739,0.671934,0.690207,0.016413,7
5,0.015627,2.973602e-07,0.000000,0.000000e+00,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.679070,0.671295,0.749843,0.700070,0.035338,2
6,0.155578,3.543042e-02,0.030372,3.376788e-02,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.683846,0.715842,0.684318,0.694669,0.014973,4
7,0.149626,3.991413e-02,0.024463,2.611385e-02,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.667214,0.698068,0.715111,0.693464,0.019823,5
8,0.108920,1.168488e-02,0.002332,3.298356e-03,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.471443,0.696739,0.651477,0.606553,0.097308,17
9,0.099499,1.485994e-02,0.003484,3.343346e-03,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.689561,0.697412,0.684733,0.690569,0.005225,6
10,0.097918,1.536645e-02,0.007207,6.436247e-03,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.620864,0.415771,0.680700,0.572445,0.113446,18
11,0.097450,5.304525e-03,0.005997,8.778064e-07,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.730137,0.693427,0.566422,0.663329,0.070143,12
12,0.009037,6.516691e-03,0.012737,4.781153e-03,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.705767,0.655468,0.692578,0.684604,0.021295,9
13,0.015402,6.290405e-03,0.004331,3.089654e-03,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.674303,0.715730,0.649963,0.679999,0.027150,11
14,0.011326,4.715951e-04,0.006330,4.713707e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.696595,0.628481,0.564907,0.629995,0.053772,16
15,0.012326,4.025489e-03,0.005997,8.157563e-04,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.650972,0.661876,0.639630,0.650826,0.009083,14
16,0.013203,1.898906e-03,0.004997,3.557138e-03,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.665063,0.697383,0.689097,0.683848,0.013707,10
17,0.007662,5.433243e-03,0.008874,4.792599e-03,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.648379,0.685138,0.639156,0.657558,0.019862,13

In [13]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:32
BMI:25
Children:2
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [15]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]]) #␣,!change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[19199.944]